body {
    text-align: center;
}
input {
	font-size: 2.4em;
	background-color: transparent;
	text-align: center;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;
	color: #fff;
}

label {
	display: block;
	font-size: 2em;
	color: yellow;
}
.box {
	position: relative;
	float: left;
	top: 50px;
	left: 50px;
	background-color: #666666;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 22em;
    height: 24em;
	margin: 0 auto;
	border-top: 5px solid #999999;
	border-left: 5px solid #999999;
	border-bottom: 5px solid #4D4D4D;
	border-right: 5px solid #4D4D4D;
}
.star_box {
	background-color: black;
	border-top: 5px solid #808080;
	border-left: 5px solid #808080;
	border-bottom: 5px solid #333333;
	border-right: 5px solid #333333;
	height: 14em;
	width: 18em;
	margin: auto;
    -webkit-border-radius: 8px;
    border-radius: 8px; 
    margin-top: -20px;
}
h4 {
	color: yellow;
}
.row {
	width:100%;
	height: 16.6%;
}
.star {
	height: 40px;
	width: 30px;
	margin: 6px;
	margin-top: -3px;
	visibility: hidden;
}
.char {
	position: relative;
	float: right;
	width: 100px;
	right: 80px;
}
.char div img {
	height: 145px;
	border-top: 5px solid #999999;
	border-left: 5px solid #999999;
	border-bottom: 5px solid #4D4D4D;
	border-right: 5px solid #4D4D4D;
	-webkit-border-radius: 8px;
    border-radius: 8px;
    background: -webkit-linear-gradient(left, gray 50%, rgb(133, 133, 133) 50%);
  	background: -o-linear-gradient(right, gray 50%, rgb(133, 133, 133) 50%);
  	background: -moz-linear-gradient(right, gray 50%, rgb(133, 133, 133) 50%);
  	background: linear-gradient(to right, gray 50%, rgb(133, 133, 133) 50%);
}
.char div p {
	color: white;
	text-shadow: 0px 0px 5px black;
	margin-top: -25px;
	font-size: 11px;
	font-weight: bolder;
}
.directions {
	width: 18em;
	height: 14em;
	background-color: black;
	border-top: 5px solid #999999;
	border-left: 5px solid #999999;
	border-bottom: 5px solid #4D4D4D;
	border-right: 5px solid #4D4D4D;
	-webkit-border-radius: 8px;
    border-radius: 8px;
	position: absolute;
	float: left;
	top: 500px;
	left: 90px;
}
.star_d {
	height: 80px;
	width: 60px;
	margin-top: -10px;
	margin-left: -170px;
}
.d_row p {
	margin-top: -50px;
	margin-left: 40%;
	color: white;
	font-size: 28px;
}
.d_row {
	height: 33.3%;
}